body{
    background-color: antiquewhite;
}
.header{
    background-color: gray;
    text-align: center;
    font-size: 180px;
}
.slide1{
    flex: 1;
    text-align: center;
    background-color: cadetblue;
    margin: 1px solid;
}
.slide1 p{
    font-size: 15px;
    font-weight: bold;
    display: block;
    line-height: 35PX; 
    color:azure;
    padding:0 12px;
}
.slide2{
    flex: 1;
    text-align: center;
    background-color: rgb(44, 95, 93);
    margin: 1px solid;
}
.slide2 p{
    font-size: 15px;
    font-weight: bold;
    display: block;
    line-height: 35PX; 
    color:azure;
    padding:0 12px;
}
.sanpham{
    flex: 1;
    text-align: center;
    background-color: burlywood;
    margin: 1px solid;
}
.sanpham h1{
    font-size: 50px;
}